@model StudentTeacherViewModel

@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="jumbotron">
        <h1>FirstApp</h1>
        <p>ASP.NET Core</p>
    </div>
</div>

@await Html.PartialAsync("_TeacherTable", Model);