@model LoginViewModel

@{ 
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <h2 style="text-align: center;">Login</h2>
        <hr />
        <form method="post" class="form-horizontal">
            <div class="form-group">
                <label asp-for="Email">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info">Login</button>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Test Id, Password</button>
                <div id="demo" class="collapse">
                    <p>Id : admin@gmail.com <br /> Password: P@ssword123 </p>
                    <p>Id : test@gmail.com <br /> Password: P@ssword123 </p>
                </div>
            </div>

        </form>

    </div>
</div>
